/* Start Box */
.d-flex {
    display: flex;
}
/* End Box */
/* Start Padding, Margin */
.p-20 {
    padding: 20px;
}
.p-0 {
    padding: 0;
}
.d-block {
    display: block;
}
.l {
    list-style: none;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* End Padding, Margin */
.bg-white {
    background-color: white;
}
.p-relative {
    position: relative;
}
.txt-c {
    text-align: center;
}
.c-black {
    color: black;
}
.align-center {
    align-items: center;
}
.fs-14 {
    font-size: 14px;
}
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.p-10 {
    padding: 10px;
}
@media (max-width: 767px){
    .hide-mobile {
        display: none;
    }
}
@media (max-width: 767px){
    .block-mobile {
        display: block;
    }
}
@media (max-width: 767px){
    .txt-c-mobile {
        text-align: center;
    }
}
@media (max-width: 767px){
    .hide-mobile {
        display: none;
    }
}
.w-full {
    width: 100%;
}
.p-15 {
    padding: 15px;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.bg-eee {
    background-color: #eee;
  }
  .c-gray {
    color: gray;
  }
.space-between {
    justify-content: space-between;    
}
.w-full {
    width: 100%;
}
.mb-20 {
    margin-bottom: 20px;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.w-fit {
    width: fit-content;
}
.c-white {
    color: white;
}
.bg-blue {
    background-color: #0075ff;
}
.b-none {
    border: none;
}
.c-blue {
    color: #0077ff;
}
.blue {
    background-color: #0077ff6b;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fw-bold {
    font-weight: bold;
}
.mb-10 {
    margin-bottom: 10px;
}
.c-green {
    color: rgb(34, 197, 94);
}
.bg-green {
    background-color: rgb(34, 197, 94);
}
.green {
    background-color: rgba(34, 197, 94, 0.2);
}
.orange {
    background-color: rgba(245, 159, 11, 0.215);
}
.c-orange {
    color: rgb(245, 159, 11);
}
.bg-orange {
    background-color: rgb(245, 159, 11);
}
.c-white {
    color: white;
}
.c-red {
    color: #f44336;
}
.red {
    background-color: #f4433633;
}
.bg-red {
   background-color: #f44336;
}
.fs-13 {
    font-size: 13px;
}
.mb-0 {
    margin-bottom: 0;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.mt-20 {
    margin-top: 25px;
}
.mb-20 {
    margin-bottom: 25px;
}
.m-20 {
    margin: 20px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.m-20 {
    margin: 20px;
}
.d-grid {
    display: grid;
}
.bg-gray {
    background-color: gray;
}
.bg-eee {
    background-color: #eee;
}
.border-ccc {
    border: 1px solid #ccc
}
.mb-15 {
    margin-bottom: 15px;
}
.fs-18 {
    font-size: 18px;
}
.border-eee {
    border: 1px solid #eee;
}
.p-absolute {
    position: absolute;
}
.bold {
    font-weight: bold;
}
.p-0 {
    padding: 0;
}
.list-none {
    list-style: none;
}